<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Edit Your Chat : <%= chat._id %></h3>
    <p>This chat was sent from <b><i><%= chat.from %></i> </b> to <b><i><%= chat.to %></i></b></p>
    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="msg" rows="5" cols="20" class="msg"><%= chat.msg %></textarea>
        <br/>
        <br/>
        <button>Edit Chat</button>
    </form>

</body>
</html>